/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.fieldrec-status-bar-icon {
	color: var(--text-error);
}

.fieldrec-section {
	padding: var(--size-4-4);
}

.fieldrec-section-record {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 400px;
}

.fieldrec-section-record > * {
	margin: var(--size-4-2) 0;
}

.fieldrec-section + .fieldrec-section {
	border-top: 1px solid var(--background-modifier-border);
}

.fieldrec-btn-icon:disabled {
	color: var(--text-faint);
}

.fieldrec-btn-icon + .fieldrec-btn-icon {
	margin-left: var(--size-4-2);
}

.fieldrec-btn-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fieldrec-section-record canvas {
	image-rendering: pixelated;
}
