.fieldrec-view {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fieldrec-status-bar-icon {
	color: var(--text-error);
}

.fieldrec-section {
	padding: var(--size-4-4);
}

.fieldrec-section-record {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	min-height: 400px;
}

.fieldrec-section-record > :not(:first-child) {
	margin: var(--size-4-2) 0;
}

.fieldrec-section + .fieldrec-section {
	border-top: 1px solid var(--background-modifier-border);
}

.fieldrec-btn-icon:disabled {
	color: var(--text-faint);
}

.fieldrec-btn-icon + .fieldrec-btn-icon {
	margin-left: var(--size-4-2);
}

.fieldrec-btn-icon.-record:not(:disabled) {
	background: var(--interactive-accent);
}

.fieldrec-btn-icon.-record:not(:disabled):hover {
	background: var(--interactive-accent-hover);
}

.fieldrec-btn-icon.-stop:not(:disabled) {
	background: var(--color-red);
}

.fieldrec-btn-icon.-stop:not(:disabled):hover {
	background: rgba(var(--color-red-rgb), 0.8);
}

.fieldrec-btn-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.fieldrec-section-record canvas {
	image-rendering: pixelated;
}
